Flask
gunicorn
pandas
scikit-learn
nltk
joblib
matplotlib
transformers
datasets
evaluate
imbalanced-learn
requests
python-dotenv
SQLAlchemy
PyMySQL
opencv-python
tensorflow==2.16.1
tf-keras==2.16.0
deepface==0.0.95
SpeechRecognition
pyaudio
pyttsx3
