{% block extra_head %}
<title>Register and Login</title>
<link rel="stylesheet" href="/static/registerNlogin.css" />
{% endblock extra_head %} {% extends "base.html" %} {% block content %}

<div id="container" class="container">
  <!-- FORM SECTION -->
  <div class="row">
    <!-- SIGN UP -->
    <div class="col align-items-center flex-col sign-up">
      <div class="form-wrapper align-items-center">
        <div class="form sign-up">
          <div class="input-group">
            <i class="bx bxs-user"></i>
            <input type="text" id="fullname" placeholder="Full Name" />
          </div>
          <!-- <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input type="text" id="username" placeholder="Username">
                        </div> -->
          <div class="input-group">
            <i class="bx bx-mail-send"></i>
            <input type="email" id="email" placeholder="Email" />
          </div>
          <div class="input-group">
            <i class="bx bxs-lock-alt"></i>
            <input type="password" id="password" placeholder="Password" />
          </div>
          <!-- <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" placeholder="Confirm password">
                        </div> -->
          <button onclick="register()">Sign up</button>
          <p>
            <span> Already have an account? </span>
            <b onclick="toggle()" class="pointer"> Sign in here </b>
          </p>
        </div>
      </div>
    </div>
    <!-- END SIGN UP -->
    <!-- SIGN IN -->
    <div class="col align-items-center flex-col sign-in">
      <div class="form-wrapper align-items-center">
        <div class="form sign-in">
          <div class="input-group">
            <i class="bx bx-mail-send"></i>
            <input type="email" id="loginEmail" placeholder="Email" />
          </div>
          <div class="input-group">
            <i class="bx bxs-lock-alt"></i>
            <input type="password" id="loginPassword" placeholder="Password" />
          </div>
          <button onclick="login()">Sign in</button>
          <!-- <p>
                            <b>
                                Forgot password?
                            </b>
                        </p> -->
          <p>
            <span> Don't have an account? </span>
            <b onclick="toggle()" class="pointer"> Sign up here </b>
          </p>
        </div>
      </div>
      <div class="form-wrapper"></div>
    </div>
    <!-- END SIGN IN -->
  </div>
  <!-- END FORM SECTION -->
  <!-- CONTENT SECTION -->
  <div class="row content-row">
    <!-- SIGN IN CONTENT -->
    <div class="col align-items-center flex-col">
      <div class="text sign-in">
        <h2  style="color: white;">Welcome</h2>
      </div>
      <div class="img sign-in"></div>
    </div>
    <!-- END SIGN IN CONTENT -->
    <!-- SIGN UP CONTENT -->
    <div class="col align-items-center flex-col">
      <div class="img sign-up"></div>
      <div class="text sign-up">
        <h2 style="color: white;">Join us</h2>
      </div>
    </div>
    <!-- END SIGN UP CONTENT -->
  </div>
  <!-- END CONTENT SECTION -->
</div>

<!-- toast message container -->
<div id="toast" class="toast"></div>

<!-- JS portion -->
<script>
  let container = document.getElementById("container");

  toggle = () => {
    container.classList.toggle("sign-in");
    container.classList.toggle("sign-up");
  };

  setTimeout(() => {
    container.classList.add("sign-in");
  }, 200);

  function showToast(message, type = "success") {
    const toast = document.getElementById("toast");

    toast.className = "toast " + type;

    toast.innerHTML = message;

    setTimeout(() => {
      toast.classList.add("show");
    }, 100);

    setTimeout(() => {
      toast.classList.remove("show");
    }, 3000);
  }

  function register() {
    const fullname = document.getElementById("fullname").value;
    // const username = document.getElementById("username").value;
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;

    fetch("/register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        action: "register",
        fullname: fullname,
        // username: username,
        email: email,
        password: password,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.success) {
          showToast("🎉 Registration successful!", "success");

          // Switch to Login form
          container.classList.remove("sign-up");
          container.classList.add("sign-in");
        } else {
          showToast(data.message, "error");
        }
      });
  }

  function login() {
    const email = document.getElementById("loginEmail").value;
    const password = document.getElementById("loginPassword").value;

    fetch("/register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        action: "login",
        email: email,
        password: password,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.success) {
          const firstName = data.fullname.split(" ")[0];

          // expiry = 2 hours
          const expiry = new Date().getTime() + 2 * 60 * 60 * 1000;

          const userData = {
            patient_id: data.patient_id,
            fullname: data.fullname,
            first_name: firstName,
            //expiry: expiry
          };

          localStorage.setItem("loggedUser", JSON.stringify(userData));

          window.location.href = "/";
        } else {
          showToast("Incorrect email or password.", "error");
        }
      });
  }
</script>

{% endblock content %}
