{% extends "base.html" %} {% block title %}Survey | Emotion Counselling{%
endblock %} {% block content %}

<div class="card" id="surveyCard">

  <h1>Emotional Counselling Survey</h1>
  <div class="session-wrapper">

    <!-- AI -->
    <div id="aiAssistantContainer">

      <div id="audioAura"></div>

      <img id="aiAvatar" src="{{ url_for('static', filename='ai_Avatar.png') }}" />

      <!-- <h3>AI Counsellor</h3> -->

    </div>

    <!-- VIDEO -->
    <div id="videoContainer">

      <video id="video" autoplay playsinline></video>

      <canvas id="canvas" width="300" height="220" style="display:none;"></canvas>

      <div id="userVoiceBars">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>

    </div>

  </div>

  <div id="startSection">
    <input id="pid" placeholder="Enter Patient ID" />

    <button class="start-btn" onclick="startSession()">
      Start Session
    </button>
  </div>

  <div id="survey" style="display: none">

    <div class="question-box">
      <!-- <p id="progress"></p> -->
      <h3 id="question"></h3>
    </div>

    <input id="answer" placeholder="Your answer here..." readonly></input>

    <div class="action-buttons">

      <button type="button" class="speak-btn" onclick="startListening()">
        Speak
      </button>

      <button class="next-btn" id="nextBtn" onclick="next()">
        Next
      </button>

    </div>
  </div>
</div>

<div class="card result-card" id="resultContainer" style="display: none">
  <h3>Emotion Prediction Result Based on Voice Interaction</h3>
  <img id="chartImage" />
  <!-- Video Emotion Chart -->
  <h3>Emotion Prediction Result Based on Video Monitoring</h3>
  <img id="videoChartImage" />
</div>

<!-- LOADER -->
<div id="loaderContainer" style="display:none;">
  <div class="loader"></div>
  <h2>Generating Emotion Analysis Response...</h2>
</div>

<script>
  async function startSession() {
    const pid = document.getElementById("pid").value;

    if (!pid) {
      alert("Enter Patient ID");
      return;
    }
    await fetch("/start", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ patient_id: pid }),
    })
    console.log("Voice session started");

    // ✅ NEW: Start video system ALSO
    startVideoSystem();

    document.getElementById("answer").innerText = "Speak your answer here...";
    document.getElementById("startSection").style.display = "none";
    document.getElementById("survey").style.display = "block";
    loadQuestion();
  }

  async function loadQuestion() {

    let r = await fetch("/question");

    let d = await r.json();

    if (d.done) {
      // HIDE QUESTION SECTION
      document.getElementById("survey").style.display = "none";

      // HIDE VIDEO CONTAINER
      document.getElementById("videoContainer").style.display = "none";

      // SHOW LOADER
      document.getElementById("loaderContainer").style.display = "flex";

      stopCamera();

      // WAIT FOR FINAL RESULT
      let res = await fetch("/finish");
      let out = await res.json();

      // HIDE LOADER
      document.getElementById("loaderContainer").style.display = "none";

      // SHOW RESULT
      document.getElementById("resultContainer").style.display = "block";

      document.getElementById("chartImage").src =
        "data:image/png;base64," + out.audio_chart;

      document.getElementById("videoChartImage").src =
        "data:image/png;base64," + out.video_chart;

      return;
    }

    document.getElementById("question").innerText =
      "Q" + d.index + ". " + d.question;

    startAISpeakingEffect();

    // DYNAMIC STOP
    const speakingTime =
      Math.max(d.question.length * 90, 4000);

    setTimeout(() => {
      stopAISpeakingEffect();
    }, speakingTime);

    // button changes to Submit while last question
    const nextBtn = document.getElementById("nextBtn");
    nextBtn.innerText = d.index === d.total ? "Submit" : "Next";
  }

  async function startListening() {
    // e.preventDefault();
    startUserVoiceBars();

    const answerBox = document.getElementById("answer");
    answerBox.value = "Listening...";

    let res = await fetch("/listen", { method: "POST" });
    let data = await res.json();

    if (data.error) {
      answerBox.value = data.error;
      stopUserVoiceBars();
      return;
    }

    answerBox.value = data.text;
    stopUserVoiceBars();
  }

  // let currentIndex = 0;

  async function next() {
    const answerBox = document.getElementById("answer");
    const userAnswer = answerBox.value.trim();
    if (!userAnswer) return;

    await fetch("/answer", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        answer: userAnswer,
        // index: currentIndex
      }),
    });

    // currentIndex++;

    answerBox.value = "";
    answerBox.placeholder = "Speak your answer here...";

    loadQuestion();
  }

  let stream = null;

  let video = document.getElementById("video");
  let canvas = document.getElementById("canvas");
  let ctx = canvas.getContext("2d");

  let detectionInterval = null;

  // START CAMERA
  function startCamera() {

    navigator.mediaDevices.getUserMedia({
      video: true
    })
      .then(mediaStream => {

        stream = mediaStream;
        video.srcObject = mediaStream;

      })
      .catch(err => {

        alert("Camera permission denied");

      });
  }

  // STOP CAMERA
  function stopCamera() {
    clearInterval(detectionInterval);
    detectionInterval = null;

    if (stream) {
      stream.getTracks().forEach(track => track.stop());
    }

    video.srcObject = null;

    // HIDE VIDEO
    document.getElementById("videoContainer").style.display = "none";

    // HIDE AI
    document.getElementById("aiAssistantContainer").style.display = "none";
  }

  // START VIDEO DETECTION
  function startVideoSystem() {
    // SHOW VIDEO CONTAINER
    document.getElementById("videoContainer").style.display = "block";
    // SHOW AI CONTAINER
    document.getElementById("aiAssistantContainer").style.display = "block";

    startCamera();

    if (detectionInterval) return;

    detectionInterval = setInterval(() => {

      ctx.drawImage(
        video,
        0,
        0,
        canvas.width,
        canvas.height
      );

      const image = canvas.toDataURL("image/jpeg");

      fetch("/analyze", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ image })
      })
        .then(res => res.json())
        .then(data => {
          console.log(data);
        });

    }, 2000);
  }

  const aura = document.getElementById("audioAura");
  const voiceBars = document.querySelectorAll(".bar");

  // AI SPEAKING EFFECT
  function startAISpeakingEffect() {
    aura.classList.add("active");
  }

  function stopAISpeakingEffect() {
    aura.classList.remove("active");
  }

  // USER SPEAKING EFFECT
  function startUserVoiceBars() {
    voiceBars.forEach(bar => {
      bar.classList.add("active");
    });
  }

  function stopUserVoiceBars() {
    voiceBars.forEach(bar => {
      bar.classList.remove("active");
    });
  }

</script>

{% endblock %}