/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Background */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #4b93ff, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Main Layout */
.main-container {
    width: 100%;
    max-width: 850px;
}

/* Card Design */
.card {
    background: white;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    animation: fadeIn 0.6s ease-in-out;
}

/* Headings */
h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

h3 {
    margin-bottom: 15px;
    color: #444;
}

/* Input Fields */
input, textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.3s;
}

input:focus, textarea:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 8px rgba(106,17,203,0.3);
}

/* Buttons */
button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

/* Start Session Button*/

.start-btn {
    width: 30%;
    padding: 14px;
    margin-top: 15px;
    border-radius: 30px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
}

.start-btn:hover {
    transform: scale(1.03);
    opacity: 0.95;
}

/* Speak & Next Buttons*/

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

/* Speak Button */
.speak-btn {
    flex: 1;
    padding: 14px;
    border-radius: 35px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
}

.speak-btn:hover {
    transform: scale(1.05);
}

/* Next Button */
.next-btn {
    flex: 1;
    padding: 14px;
    border-radius: 35px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
}

.next-btn:hover {
    transform: scale(1.05);
}

/* Question Box */
.question-box {
    background: #f4f6ff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

#progress {
    font-size: 14px;
    color: #6a11cb;
    margin-bottom: 8px;
}

/* Result Section */
.result-card {
    text-align: center;
}

.result-card img {
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 600px) {
    .card {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    textarea {
        height: 120px;
    }
}

@media (max-width: 500px) {
    .action-buttons {
        flex-direction: column;
    }
}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
